<!-- <div class="d-flex justify-content-evenly">
  <h3>title</h3>
  <h3>releasedate</h3>
  <h3>revenue</h3>
  <h3>duration</h3>
  <h3>popularity</h3>
  <h3>posterurl</h3>
  <h3>imdbid</h3>
  <h3>budget</h3>
  <h3>overview</h3>
  <h3>plot in detail</h3>
  <h3>writer</h3>
  <h3>actor</h3>
  <h3>director</h3>
</div> -->
<div class="container-fluid">
  <h2 class="">Movie Form</h2>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-md-4 mt-3">
        <div class="input-group">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="imdbid"
              formControlName="imdbid"
              placeholder="imdbid"
            />

            <label for="imdbid"
              >ImdbId
              <span class="text-danger">*</span>
            </label>
          </div>

          <div
            *ngIf="userForm.value.imdbid?.length != 0"
            class="input-group-append d-flex align-items-center"
            (click)="fetchDetailsFromOmdb()"
          >
            <button
              class="btn btn-warning h-100 rounded-0 rounded-end me-2"
              type="button"
            >
              Fetch
            </button>
          </div>
        </div>
        <div
          *ngIf="
            userForm.get('imdbid')?.invalid &&
            userForm?.get('imdbid')?.touched &&
            userForm.get('imdbid')?.hasError('required')
          "
          class="text-danger"
        >
          ImdbId is required
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            placeholder="Movie Title"
          />
          <label for="title"
            >Movie Title
            <span class="text-danger">*</span>
          </label>
        </div>
        <div
          *ngIf="
            userForm.get('title')?.invalid &&
            userForm?.get('title')?.touched &&
            userForm.get('title')?.hasError('required')
          "
          class="text-danger"
        >
          Movie Title is required
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            id="releasedate"
            formControlName="releasedate"
            placeholder="Release Date"
          />
          <label for="releasedate"
            >Release Date
            <span class="text-danger">*</span>
          </label>
        </div>
        <div
          *ngIf="
            userForm.get('releasedate')?.invalid &&
            userForm?.get('releasedate')?.touched &&
            userForm.get('releasedate')?.hasError('required')
          "
          class="text-danger"
        >
          Release Date is required
        </div>
      </div>

      <div class="col-md-2 mt-3">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="revenue"
            formControlName="revenue"
            placeholder="Revenue"
          />
          <label for="revenue">Revenue (In $) </label>
        </div>
        <div
          *ngIf="
            userForm.get('revenue')?.invalid &&
            userForm?.get('revenue')?.touched &&
            userForm.get('revenue')?.hasError('min')
          "
          class="text-danger"
        >
          Revenue should be more than 0
        </div>
      </div>

      <div class="col-md-2 mt-3">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="budget"
            formControlName="budget"
            placeholder="budget"
          />
          <label for="budget">Budget (In $) </label>
        </div>
        <div
          *ngIf="
            userForm.get('budget')?.invalid &&
            userForm?.get('budget')?.touched &&
            userForm.get('budget')?.hasError('min')
          "
          class="text-danger"
        >
          Budget should be more than 0
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="duration"
            formControlName="duration"
            placeholder="duration"
          />
          <label for="duration"
            >Duration (In Mins)
            <span class="text-danger">*</span>
          </label>
        </div>
        <div
          *ngIf="
            userForm.get('duration')?.invalid &&
            userForm?.get('duration')?.touched
          "
          class="text-danger"
        >
          <span *ngIf="userForm.get('duration')?.hasError('required')"
            >Duration is required</span
          >
          <span *ngIf="userForm.get('duration')?.hasError('min')"
            >Duration should be more than 1</span
          >
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="posterurl"
            formControlName="posterurl"
            placeholder="posterurl"
          />
          <label for="posterurl"
            >Poster Url
            <span class="text-danger">*</span>
          </label>
        </div>
        <img
          *ngIf="userForm.value.posterurl?.length != 0"
          src="{{ userForm.value.posterurl }}"
          alt="Not found"
        />
        <div
          *ngIf="
            userForm.get('posterurl')?.invalid &&
            userForm?.get('posterurl')?.touched &&
            userForm.get('posterurl')?.hasError('required')
          "
          class="text-danger"
        >
          Poster Url is required
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="writer"
            formControlName="writer"
            placeholder="writer"
          />
          <label for="writer">Writer </label>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="director"
            formControlName="director"
            placeholder="director"
          />
          <label for="director">Director </label>
        </div>
      </div>
    </div>

    

    <div class="row">
      <div class="col-md-12 mt-3">
        <div class="form-floating">
          <textarea
            type="text"
            class="form-control"
            id="overview"
            formControlName="overview"
            placeholder="overview"
          ></textarea>
          <label for="overview">Overview</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-3">
        <div class="form-floating">
          <textarea
            style="height: 100px"
            type="text"
            class="form-control"
            id="plot"
            formControlName="plot"
            placeholder="plot"
          ></textarea>
          <label for="plot">Plot (detail description)</label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
