
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    background-color: white;
}


:host ::ng-deep .multiselect-dropdown .selected-item {
    background-color: blueviolet !important;
    border: none !important;
    border-radius: 5px !important;
    margin: 3px !important;
    padding: 5px 10px 5px 10px !important;
    font-size: 15px;
    max-width: fit-content !important;
}

:host ::ng-deep .multiselect-dropdown .selected-item a{
    font-size: 15px;
}

:host ::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before{
    background-color: blueviolet !important;
}


:host ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before{
    border-color: blueviolet !important;
}


:host ::ng-deep .multiselect-dropdown .dropdown-list{
    position: absolute !important;
    max-width: 300px;
}