<div class="d-flex justify-content-between my-3">

  <h4>Users</h4>

  <button class="btn btn-light-red" (click)="goToDeletedUserPage()">
    <span>View Deleted Users</span>
    <i class="ms-2 bi bi-trash"></i>
  </button>

</div>
<div class="table-responsive">

  @if (isLoading) {
    <app-shimmer-table-body [columnCount]="6" [rowCount]="10"></app-shimmer-table-body>
  }
  @else {

    <table class="table">
      <thead>
        <tr>
          <th>UserId</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let user of usersList">
          <td>{{ user.userId }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.userRole }}</td>
          <td>
            <button
              class="btn btn-purple ms-3"
              (click)="goToEditUser(user.userId)"
            >
              Edit
            </button>
            <button
              class="btn btn-outline-danger ms-3"
              (click)="openDeleteUserModal(user.userId)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
  
    </table>
  }

</div>

<div *ngIf="usersList.length !== 0" class="d-flex justify-content-center">
  <app-pagination-button
    [currentPage]="currentPageNumber"
    [itemsPerPage]="currentPageSize"
    [totalItems]="totalItems"
    (pageChanged)="onPageChange($event)"
  ></app-pagination-button>
</div>
