
.fruite-item {
  transition: 0.5s;
  box-shadow: 0 0 10px 7px rgba(191, 191, 191, 0.4);
}

.fruite-item .fruite-img {
  overflow: hidden;
  transition: 0.5s;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.fruite-item .fruite-img div {    
  height: 200px;
  object-fit: cover;
  transition: 0.5s;
}
