<div
  class="rounded position-relative fruite-item bg-white"
  (click)="goToMovieDetail(movieDetail.movieId)"
>
  <div class="fruite-img border border-secondary border-bottom-0">
    <img
      src="{{ movieDetail.posterUrl }}"
      class="img-fluid w-100 rounded-top"
      alt="no image"
      style="object-fit: contain; background-color: #eaeaea"
      (error)="onImageError(movieDetail.imdbId || '')"
    />
  </div>

  <!-- <div
    class=" px-2 py-1 rounded d-flex align-items-center position-absolute"
    style="top: 10px; left: 10px;background-color: #c8c8c8;"
  >
    {{ movieDetail.rottenTomato }} <img height="20px" class="ms-1" src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Rotten_Tomatoes.svg" alt="">
  </div> -->

  <div class="py-3 px-2 border border-secondary border-top-0 rounded-bottom">
    <div class="d-flex align-items-center justify-content-between">
      <p
        class="h6"
        style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap"
      >
        {{ movieDetail.title }}
      </p>
      <p class="h6" *ngIf="movieDetail.duration != null">
        {{ movieDetail.duration }} mins
      </p>
    </div>

    @if(isAdmin){
    <div class="d-flex justify-content-between">
      <button
        class="btn btn-purple-fill"
        (click)="goToMovieEdit(movieDetail.movieId)"
      >
        Edit
        <i style="color: currentColor" class="bi bi-pencil-fill fs-6 ms-1"></i>
      </button>
      <button class="btn btn-danger" (click)="openDeleteModal('content',movieDetail.movieId,$event)">
        Delete <i class="bi bi-trash3-fill fs-6 ms-1"></i>
      </button>
    </div>
    } @else {

    <ng-template #starTemplate let-fill="fill">
      <i class="bi-star-fill">
        @if (fill > 0) {
        <i class="bi-star-fill filled" [style.width.%]="fill"></i>
        }
      </i>
    </ng-template>
    <div class="d-flex align-items-center" style="width: 100px">
      <ngb-rating
        [(rate)]="ratingOutOfStar"
        [starTemplate]="starTemplate"
        [readonly]="true"
        [max]="5"
        [ariaValueText]="ariaValueText"
      />
      <span class="ms-2">({{ movieDetail.ratingCount }})</span>
    </div>

    }
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Cross click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">
      Yes
    </button>
  </div>
</ng-template>
