/* You can add global styles to this file, and also import other style files */
input:focus {
    box-shadow: none !important;
}

select:focus{
    box-shadow: none !important;
}

textarea:focus{
    box-shadow: none !important;
}

.btn-light-red{
  background-color: #ef3f3f;
  color: white;
}

.btn-light-red:hover{
  background-color: red;
  color: white;
}

.btn-light-red:active{
  background-color: red !important;
  color: white !important;
}

.btn-purple{
    border-color: blueviolet !important;
    color: blueviolet !important;
}

.btn-purple:hover{
    background-color: blueviolet !important;
    color: white !important;
}

.btn-purple:active{
    background-color: blueviolet !important;
    color: white !important;
}

.btn-purple-fill{
    color: white !important;
    background-color: blueviolet !important;
}

.btn-purple-fill:hover{
    color: white !important;
    background-color: purple !important;
}


.btn-purple-fill:active{
    color: white !important;
    background-color: purple !important;
}

/* Image Loading Transition */

.img-load-transistion{
  opacity: 0;
  -webkit-transition: all 3s ease; 
  -moz-transition: all 3s ease; 
  -ms-transition: all 3s ease; 
  -o-transition: all 3s ease; 
}

.opacity-full{
  opacity: 1;
}

.opacity-none{
  opacity: 0;
}

/* Shimmer Animation CSS */

.shimmer {
    position: relative;
  }
  .shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      -45deg,
      #f0f0f0 25%,
      #e4e4e4 50%,
      #f0f0f0 75%
    );
    background-size: 200% 100%;
    animation: shimmerAnimation 2s infinite;
  }
  @keyframes shimmerAnimation {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  

  /* loading animation css */

  
/* HTML: <div class="loader"></div> */
.loading-animation {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #f5f5f5;
  border-right-color: blueviolet;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
      transform: rotate(1turn)
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}